[tool.poetry]
name = "nonebot-plugin-mahjong-utils"
version = "0.1.5"
description = ""
authors = ["ssttkkl <huang.wen.long@hotmail.com>"]
readme = "README.MD"
license = "MIT"
repository = "https://github.com/ssttkkl/nonebot-plugin-mahjong-utils"
packages = [
    { include = "nonebot_plugin_mahjong_utils", from = "src" },
]

[tool.poetry.dependencies]
python = "^3.9"
nonebot2 = "^2.0.0rc1"
mahjong-utils = "^0.1.0a4"


[tool.poetry.group.dev.dependencies]
flake8 = "^5.0.4"
nb-cli = "^0.6.7"
pytest = "^7.1.3"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
