{% macro tiles_view(tiles, size='normal', style='', sorted=True) -%}
<div class="tiles" style="{{ style }}">
    {% if sorted %}
    {% for t in tiles|sort %}
    <img class="tile-{{ size }}" src="tiles/{{ t }}.png" alt="{{ t }}"/>
    {% endfor %}
    {% else %}
    {% for t in tiles %}
    <img class="tile-{{ size }}" src="tiles/{{ t }}.png" alt="{{ t }}"/>
    {% endfor %}
    {% endif %}
</div>
{%- endmacro %}

{% macro percentile_str(x, ndigits=2) -%}
{{ (x * 100) | round(ndigits) }}%
{%- endmacro %}

{% macro shanten_text(shanten) -%}
{% if shanten == -1 %}
和牌
{% elif shanten == 0 %}
听牌
{% else %}
{{ shanten }}向听
{% endif %}
{%- endmacro %}

{% macro render_improvement(improvement, improvement_num, convert_improvement_view) -%}
{% for imp in convert_improvement_view(improvement) %}
    <ul>
        <li style="display: block; width: 100%;">
        {{ tiles_view([imp["tile"]], size='small') }}
        <span>（打</span>
        {{ tiles_view(imp["discard"], size='tiny') }}
        <span>，听{{ imp["advance_num"] }}张）</span>
        </li>
    </ul>
{% endfor %}
<span>共{{ improvement_num }}张</span>
{%- endmacro %}
